.panel {
    margin-bottom: 20px;
    background-color: map-get($theme-colors, gray-2-lightest);
    border: 1px solid transparent;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    .panel-body {
        padding: 3rem;
    }

    .panel-header {
        padding: 2rem 3rem;
        border-bottom: 1px solid map-get($theme-colors, primary);
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            text-align: right;
            margin-bottom: 0.5rem;
        }

        p {
            margin-bottom: 0;
        }
    }

    .panel-footer {
        padding: 0 20px;
        background-color: #fcfcfc;
        border-top: 1px solid #dddddd;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
}
